@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');


.banner{
    background-color: black;
    height: 330px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


button{
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background-color:orangered;
        color: white;
        cursor: pointer;
        align-self: center;
        display: none;
        
}

#texto{
    height: 150px;
    background:transparent;
    width: 100%;
    font-size: 60px;
    text-align: center;
    line-height: 150px;
    color: white;
    font-weight: bolder;
    font-family: 'Bangers', cursive;

}